# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64
# created-by: conda 24.11.3
appnope=0.1.4=pyhd8ed1ab_1
asttokens=3.0.0=pyhd8ed1ab_1
attrs=24.3.0=py39hca03da5_0
beautifulsoup4=4.12.3=py39hca03da5_0
blas=1.0=openblas
bleach=6.2.0=py39hca03da5_0
bottleneck=1.4.2=py39hbda83bc_0
bzip2=1.0.8=h99b78c6_7
ca-certificates=2024.12.31=hca03da5_0
cachetools=5.5.1=pypi_0
certifi=2025.1.31=pypi_0
charset-normalizer=3.4.1=pypi_0
cli_helpers=2.3.1=pyhd8ed1ab_1
click=8.1.8=pyh707e725_0
comm=0.2.2=pyhd8ed1ab_1
configobj=5.0.9=pyhd8ed1ab_1
cyrus-sasl=2.1.27=h59bf3fd_6
debugpy=1.6.7=py39h23fbdae_0
decorator=5.1.1=pyhd8ed1ab_1
defusedxml=0.7.1=pyhd3eb1b0_0
dlt=1.6.1=pypi_0
duckdb=1.2.0=pypi_0
exceptiongroup=1.2.2=pyhd8ed1ab_1
executing=2.1.0=pyhd8ed1ab_1
fastjsonschema=2.21.1=pypi_0
fsspec=2025.2.0=pypi_0
git-filter-repo=2.47.0=pypi_0
gitdb=4.0.12=pypi_0
gitpython=3.1.44=pypi_0
giturlparse=0.12.0=pypi_0
google-api-core=2.24.1=pypi_0
google-auth=2.38.0=pypi_0
google-cloud-core=2.4.1=pypi_0
google-cloud-storage=3.0.0=pypi_0
google-crc32c=1.6.0=pypi_0
google-resumable-media=2.7.2=pypi_0
googleapis-common-protos=1.66.0=pypi_0
greenlet=3.1.1=py39h313beb8_0
hexbytes=1.3.0=pypi_0
humanize=4.12.0=pypi_0
idna=3.10=pypi_0
importlib-metadata=8.5.0=pyha770c72_1
ipykernel=6.29.5=pyh57ce528_0
ipython=8.18.1=pyh707e725_3
jedi=0.19.2=pyhd8ed1ab_1
jinja2=3.1.5=pypi_0
jsonpath-ng=1.7.0=pypi_0
jsonschema=4.23.0=py39hca03da5_0
jsonschema-specifications=2024.10.1=pypi_0
jupyter_client=8.6.3=pyhd8ed1ab_1
jupyter_core=5.7.2=pyh31011fe_1
jupyterlab-pygments=0.3.0=pypi_0
jupyterlab_pygments=0.2.2=py39hca03da5_0
krb5=1.20.1=h69eda48_0
libcxx=14.0.6=h848a8c0_0
libedit=3.1.20191231=hc8eb9b7_2
libffi=3.4.4=hca03da5_1
libgfortran=5.0.0=11_3_0_hca03da5_28
libgfortran5=11.3.0=h009349e_28
libntlm=1.8=h5505292_0
libopenblas=0.3.21=h269037a_0
libpq=17.2=h02f6b3c_0
libsodium=1.0.18=h27ca646_1
libsqlite=3.45.2=h091b4b1_0
libzlib=1.3.1=h8359307_2
llvm-openmp=14.0.6=hc6e5704_0
makefun=1.15.6=pypi_0
markdown-it-py=3.0.0=pypi_0
markupsafe=3.0.2=pypi_0
matplotlib-inline=0.1.7=pyhd8ed1ab_1
mdurl=0.1.2=pypi_0
mistune=2.0.5=pyhd8ed1ab_0
nbclient=0.10.2=pypi_0
nbconvert=7.16.4=py39hca03da5_0
nbformat=5.10.4=py39hca03da5_0
ncurses=6.4=h313beb8_0
nest-asyncio=1.6.0=pyhd8ed1ab_1
numexpr=2.10.1=py39h5d9532f_0
numpy=2.0.1=py39h3b2db8e_1
numpy-base=2.0.1=py39ha9811e2_1
openldap=2.6.4=h9dd3a51_0
openssl=3.4.0=h81ee809_1
orjson=3.10.15=pypi_0
packaging=24.2=pyhd8ed1ab_2
pandas=2.2.3=py39hcf29cfe_0
pandocfilters=1.5.1=pypi_0
parso=0.8.4=pyhd8ed1ab_1
pathvalidate=3.2.3=pypi_0
pendulum=3.0.0=pypi_0
pexpect=4.9.0=pyhd8ed1ab_1
pgcli=4.1.0=pyhd8ed1ab_1
pgspecial=2.1.3=pyhd8ed1ab_1
pickleshare=0.7.5=pyhd8ed1ab_1004
pip=24.2=py39hca03da5_0
platformdirs=4.3.6=pyhd8ed1ab_1
pluggy=1.5.0=pypi_0
ply=3.11=pypi_0
prompt-toolkit=3.0.50=pypi_0
prompt_toolkit=3.0.48=hd8ed1ab_1
proto-plus=1.26.0=pypi_0
protobuf=5.29.3=pypi_0
psutil=6.1.1=py39hf3bc14e_0
psycopg=3.2.4=py39h99b90bc_0
psycopg-c=3.2.4=py39h96c7061_0
psycopg2=2.9.9=py39h80987f9_1
ptyprocess=0.7.0=pyhd8ed1ab_1
pure_eval=0.2.3=pyhd8ed1ab_1
pyasn1=0.6.1=pypi_0
pyasn1-modules=0.4.1=pypi_0
pygments=2.19.1=pyhd8ed1ab_0
python=3.9.18=hd7ebdb9_1_cpython
python-dateutil=2.9.0post0=py39hca03da5_2
python-fastjsonschema=2.20.0=py39hca03da5_0
python-tzdata=2023.3=pyhd3eb1b0_0
python_abi=3.9=5_cp39
pytz=2024.1=py39hca03da5_0
pyyaml=6.0.2=pypi_0
pyzmq=25.1.1=py39he0a3c8b_2
readline=8.2=h1a28f6b_0
referencing=0.36.1=pypi_0
requests=2.32.3=pypi_0
requirements-parser=0.11.0=pypi_0
rich=13.9.4=pypi_0
rich-argparse=1.7.0=pypi_0
rpds-py=0.22.3=py39h2aea54e_0
rsa=4.9=pypi_0
semver=3.0.4=pypi_0
setproctitle=1.3.4=py39hf3bc14e_0
setuptools=75.1.0=py39hca03da5_0
simplejson=3.20.1=pypi_0
six=1.16.0=pyhd3eb1b0_1
smmap=5.0.2=pypi_0
soupsieve=2.6=pypi_0
sqlalchemy=2.0.37=py39hbe2cdee_0
sqlite=3.45.2=hf2abe2d_0
sqlparse=0.4.4=pyhd8ed1ab_0
stack_data=0.6.3=pyhd8ed1ab_1
tabulate=0.9.0=pyhd8ed1ab_2
tenacity=9.0.0=pypi_0
time-machine=2.16.0=pypi_0
tinycss2=1.4.0=pypi_0
tk=8.6.13=h5083fa2_1
tomlkit=0.13.2=pypi_0
tornado=6.4.2=py39hf3bc14e_0
traitlets=5.14.3=pyhd8ed1ab_1
types-setuptools=75.8.0.20250210=pypi_0
typing-extensions=4.12.2=hd8ed1ab_1
typing_extensions=4.12.2=pyha770c72_1
tzdata=2024b=h04d1e81_0
urllib3=2.3.0=pypi_0
wcwidth=0.2.13=pyhd8ed1ab_1
webencodings=0.5.1=pypi_0
wheel=0.44.0=py39hca03da5_0
xz=5.4.6=h80987f9_1
zeromq=4.3.5=h313beb8_0
zipp=3.21.0=pyhd8ed1ab_1
zlib=1.3.1=h8359307_2
